@import "tailwindcss";

@font-face {
	font-family: 'Fira Mono Regular';
  src: url('../assets/fonts/FiraMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
	font-family: 'Fira Mono Medium';
  src: url('../assets/fonts/FiraMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}
.firamono-medium {
	font-family: 'Fira Mono Medium', monospace;
}
* {
	scrollbar-width: none;
	scrollbar-color: #D5C4A1 #282828;
	scroll-behavior: smooth;
	font-family: "Fira Mono Regular", serif;
	font-weight: 400;
	font-style: normal;
}
nav > ul {
	display: flex;
	justify-content: center;
	gap: 2rem;
}
nav > ul > li > a:hover  {
	color: #98971A;
	text-decoration: none;
}
#indicator {
	width: 100%;
	height: 3px;
	background-color: #98971A;
}
