---
import "../styles/global.css";
import { ClientRouter } from 'astro:transitions';

const { title, desc } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:title" content=`${title} - Gruvbox`>
		<meta property="og:description" content=`${desc}`>
		<meta property="og:image" content="/gruvbox/favicon.svg">

		<title>{title} - Gruvbox</title>
		<link rel="icon" type="image/svg+xml" href="/gruvbox/favicon.svg" />

		<meta name="generator" content={Astro.generator} />
		<ClientRouter />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html {
		background: #1d2021;
		color: #FBF1C7;
	}
	body {
		@apply grid place-content-center;
	}
</style>
